@font-face {
  font-family: SFPro;
  src: url('../../public/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

@font-face {
  font-family: SFPro;
  font-weight: bold;
  src: url('../../public/assets/fonts/SFPRODISPLAYBOLD.OTF') format('opentype');
}

@font-face {
  font-family: SFPro;
  font-weight: 600;
  src: url('../../public/assets/fonts/SFPRODISPLAYMEDIUM.OTF') format('opentype');
}

@font-face {
  font-family: SFPro;
  font-weight: 500;
  src: url('../../public/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}
