.container {
  display: flex;
  flex-direction: column;

  .label {
    font-size: 12px;
    color: var(--purple);    
    margin-bottom: 5px;
  }

  .input {
    height: 50px;
    margin: 0 !important;
    padding: 0px 15px;
    min-width: 320px;
    // border-radius: 20px;
    border: none;
    border-bottom: 1px solid rgba(51, 50, 105, 0.5);
    outline: none;
    color: var(--text);
    font: 400 14px 'Roboto', sans-serif;
    background-color: transparent;
  }

  .input:focus {
    border-color: var(--orange);
  }
}