.container {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .icon {
    color: var(--purple);
    font-size: 100px;
  }

  .title {
    color: var(--purple);
    font-size: 30px;
    margin-bottom: 5px;
  }

  .error {
    color: var(--gray);
    font-size: 12px;
    text-align: center;
    max-width: 350px;
    max-height: 200px;
    overflow: hidden auto;
  }
}