.container {
  flex: 1;
  flex-direction: column;
  position: absolute;
  min-width: 100%;
  min-height: 100%;

  .table {
    border-collapse: collapse;
    text-align: left;

    td:not(:nth-child(1)), th:not(:nth-child(1)) {
      padding-left: 25px !important;
    }

    .headers {
      .header {
        position: sticky;
        top: 0;
        z-index: 1;
        background-color: var(--white);
        padding-bottom: 15px;
        white-space: nowrap;
        border-bottom: solid 1px var(--border-color);

        &[arail-header-fixed='true'] {
          right: 0;
        }

        &[arail-header-orderable='true'] {
          cursor: pointer;
        }

        > span {
          color: var(--blue-light);
          font-size: 14px;
          user-select: none;
        }
  
        .iconOrder {
          color: var(--gray);
          margin-left: 8px;
          font-size: 13px;
        }
      }
    }

    .body {
      .row {
        white-space: nowrap;
        border-bottom: solid 1px var(--border-color);

        &:hover{
          animation: linear 0.2s;
        }

        .info {
          color: black;
          padding: 15px 0;

          &[arail-header-fixed='true'] {
            position: sticky;
            right: 0;
            background-color: var(--white);
          }

          > span {
            color: var(--gray);
            font-size: 16px;
            font-weight: 400;
          }

        }
      }

    }
    
    /***************************
    ***** Styles of Themes *****/

    /* White */
    &[arial-theme='FlexGridWhite'] {
      .headers {
        .header {
          background-color: var(--white);
        }
      }

      .body {
        .row:hover {
          .info {
            background-color: var(--background) !important;
          }
        }
      }
    }

    /* Dark Blue */
    &[arial-theme='FlexGridBlueDark'] {
      .headers {
        .header {
          background-color: var(--blue-dark);
        }
      }

      .body {
        .row {
          .info {
            > span {
              color: var(--white);
            }
          }

          &:hover {
            // background-color: rgba(0, 0, 0, .2) !important;
            
            .info {
              background-color: rgba(0, 0, 0, .2) !important;
            }
          }
        }
      }
    }
  }
}